@font-face {
    font-family: 'Museo Sans 300';
    src: url(infographics/fonts/MuseoSans-300.otf);
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url(infographics/fonts/MuseoSans_500.otf);
}

@font-face {
    font-family: 'Museo Sans Rounded 300';
    src: url(infographics/fonts/MuseoSansRounded-300.ttf);
}

@font-face {
    font-family: 'Museo Sans Rounded 500';
    src: url(infographics/fonts/MuseoSansRounded-500.ttf);
}

@font-face {
    font-family: 'Museo Sans Rounded 700';
    src: url(infographics/fonts/MuseoSansRounded-700.ttf);
}

:root {
    --button-orange: #f49434;
    --button-disable-orange: #f4943433;
    --text-margenta: #731745;
    --text-white: #fff;
    --card-margenta: #922160;
    --shadow-orange: #f79521;
    --question-mark-light-margenta: #B54482;
}

body {
    margin: 0;
    padding: 0;
}

#tarot--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(infographics/interactive-names/background.jpg);
    background-size: cover;
    color: white;
    font-family: 'Museo Sans 300';
}

/* Header */
.tarot--header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarot--header > .tarot--logo {
    height: 50%;
}

.tarot--header > .tarot--logo > img {
    width: 100%;
    height: 100%;
}

/* Main */
.tarot--main {
    width: 100%;
    height: 100%;
}

#tarot--container  a {
    text-decoration: none;
    color: white
}

#tarot--container p {
    line-height: 1.5em;
}

.tarot--btn {
    padding: 0.5em 2em;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-orange);
    font-family: 'Museo Sans 500', sans-serif;
    font-size: 1em;
    color: var(--text-margenta);
    border: none;
}

.tarot--btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/* --First Section-- */
.tarot--first {
    min-height: calc(100vh - 150px);
    max-width: 90%;
    margin: 0 auto;
}

.tarot--first > h1 {
    font-family: 'Museo Sans 300';
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.tarot--first > h1 > span {
    width: max-content;
}

.tarot--main-divider {
    max-width: 50em;
    margin: 2em auto;
}

.tarot--main-paragraphs {
    font-family: 'Museo Sans Rounded 300', sans-serif;
    font-size: 1.2em;
    margin: 2em auto;
}

.tarot--main-paragraphs > p {
    max-width: 40em;
    margin: 0 auto;
    margin-bottom: 1em;
}

.tarot--choose-spread-heading h2 {
    font-family: 'Museo Sans Rounded 700', sans-serif;
    font-size: 1.5em;
}

.tarot--spread-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.tarot--spread-choices > .tarot--btn {
    transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

.tarot--spread-choices > .tarot--btn:hover {
    color: white;
}

.tarot--spread-choices > .tarot--btn[data-choosen="true"] {
    background-color: white;
    color: var(--text-margenta);
}

.tarot--spread-description {
    font-family: 'Museo Sans Rounded 300', sans-serif;
    font-size: 1.2em;
    max-width: 50em;
    margin: 0 auto;
}

.tarot--spread-description > p {
    width: 70%;
    margin: 2em auto 0;
}


.tarot--question-input-container > input {
    min-width: 20em;
    height: fit-content;
    text-align: center;
    color: var(--text-white);
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 2em auto;
    font-family: 'Museo Sans Rounded 300';
    padding: 0.5em;
}

.tarot--question-input-container input::placeholder,
.tarot--question-input-container input::-webkit-input-placeholder,
.tarot--question-input-container input::-moz-placeholder,
.tarot--question-input-container input::-ms-input-placeholder {
    color: var(--text-white);
    font-family: 'Museo Sans Rounded 300';
    font-weight: 500;
}

.tarot--question-input-container > input:focus {
    outline: none;
    background-color: #fff2;
}

.tarot--submit-btn-container {
    margin-bottom: 3em;
}


/* second page */

/* deck shuffle */
.tarot--card-pack-container {
    height: max-content;
}

.tarot--card-pack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 250px;
    background-color: transparent;
    position: relative;
    margin: 10px auto 0px;
}
.tarot--card {
    background-image: url(infographics/interactive-names/card-back.png);
    background-size: cover;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    border: 1px solid #fffb;
    position: absolute;
    transition: transform 0.3s ease-in-out, left 0.5s ease-in-out; 
    cursor: pointer;
}

.tarot--card:hover {
    transform: translateY(-20px);
}

/* unknown card style */
.tarot--card-type {
    font-family: 'Museo Sans Rounded 300', sans-serif;
    font-size: 1.2em;
}

.tarot--unknown-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    min-height: 400px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
}

.tarot--unknown-card {
    border-radius: 10px;
    width: 200px;
    height: 300px;
    border: none;
    transition: box-shadow 0.3s ease-in-out;; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Museo Sans Rounded 500', sans-serif;
    font-size: 10em;
    background-color: var(--card-margenta);
    color: var(--question-mark-light-margenta)
}

.unknown-card-container .tarot--unknown-card:hover {
    box-shadow: 0 0 20px var(--shadow-orange);
}

.tarot--show-cards-btn-container {
    margin-top: 3em;
    margin-bottom: 5em;
}


/* --Third Section-- */

.tarot--result-cards-container h2 {
    font-family: 'Museo Sans Rounded 700', sans-serif;
    font-size: 1.5em;
}
/* Flip card style */
.tarot--result-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 90vw;
    min-height: 350px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
}

.tarot--r-card {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
    background-color: transparent;
}

.tarot--r-card--inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px #0004;
    border: 1px solid #0005;
    transform: rotateY(0deg);
}

.tarot--r-card--inner.is-flipped {
    transform: rotateY(180deg);
}

.tarot--r-card--face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarot--r-card--face-front {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000a;
}

.tarot--r-card--face-back {
    transform: rotateY(180deg);
    background-size: cover;
    background-color: white;
}

.tarot--r-card--text {
    font-family: 'Museo Sans Rounded 300', sans-serif;
    font-size: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 94%;
    background-color: white;
    border-radius: inherit;
    border: 3px solid var(--shadow-orange);
    box-sizing: border-box;
    padding: 0.5em;
    overflow: hidden;
}

.tarot--conclusion-container h2 {
    font-family: 'Museo Sans 300', sans-serif;
    font-size: 5em;
    margin: 0.5em auto 0.2em;
}

.tarot--conclusion-container p {
    font-family: 'Museo Sans Rounded 300', sans-serif;
    font-size: 1.2em;
    max-width: 40em;
    padding: 0 1em;
    margin: 0 auto 2em;
}

.tarot--left-arrow {
    height: 1em;
    fill: white;
    margin-right: 0.2em;
    transform: translateY(0.1em);
    transition: fill 0.3s ease-in-out;
}

.tarot--retry-btn {
    margin: 2em auto;
}

.tarot--retry-btn a {
    transition: all 0.3s ease-in-out;
}

.tarot--retry-btn a > span {
    font-family: 'Museo Sans Rounded 700', sans-serif;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.tarot--retry-btn a:hover span,
.tarot--retry-btn a[data-blink="true"] span {
    color: var(--shadow-orange);
}

.tarot--retry-btn a:hover .tarot--left-arrow,
.tarot--retry-btn a[data-blink="true"] .tarot--left-arrow {
    fill: var(--shadow-orange);
}

.tarot--footer .tarot--connect {
    width: 100vw;
    background-color: var(--card-margenta);
    padding: 1em 0;
    font-family: 'Museo Sans Rounded 500', sans-serif;
    font-size: 1.3em;
}

.tarot--footer .tarot--connect p {
    margin: 0 auto 0.2em;
    text-align: center;
}

.tarot--footer .tarot--link {
    display: block;
    width: 100vw;
    background-color: var(--shadow-orange);
    padding: 1em 0;
    font-family: 'Museo Sans Rounded 500', sans-serif;
    font-size: 1.3em;
    color: black!important;
}
